<div class="query-page-wrapper">
  <div class="container">
    <overlay ng-if="canCreateQuery === false && query.isNew()">
      您无权在任何可用的数据连接上添加指标。 您可以
      <a href="queries">浏览现有指标</a>，或向管理员申请权限。
    </overlay>
    <overlay ng-if="noDataSources && currentUser.isAdmin">
      您尚未添加任何数据连接（或您所属的角色都不可用）。请先添加一个，然后开始添加指标。
      <br/>
      <br/>
      <a href="data_sources/new" class="btn btn-primary">添加数据连接</a>
      <a href="groups" class="btn btn-default">管理角色权限</a>
    </overlay>
    <overlay ng-if="noDataSources && !currentUser.isAdmin">
      您尚未添加任何数据连接（或您所属的角色都不可用）。请联系管理员添加一个。
    </overlay>

    <alert-unsaved-changes ng-if="canEdit" is-dirty="isDirty"></alert-unsaved-changes>

    <div class="p-b-10 m-l-0 m-r-0 page-header--new page-header--query">
      <div class="page-title p-0">
        <div class="d-flex flex-nowrap align-items-center">
          <favorites-control ng-if="!query.isNew()" item="query"></favorites-control>
          <h3>
            <edit-in-place class="m-r-5" is-editable="canEdit" on-done="saveName"
              ignore-blanks="true" value="query.name" editor="'input'"></edit-in-place>
            <query-tags-control
              class="query-tags" ng-class="{'query-tags__empty': query.tags.length == 0}"
              tags="query.tags" is-draft="query.is_draft" is-archived="query.is_archived"
              can-edit="isQueryOwner" get-available-tags="loadTags" on-edit="saveTags"></query-tags-control>
          </h3>

          <span class="flex-fill">&nbsp;</span>

          <div class="p-0 source-control text-right text-nowrap align-self-start m-t-5">
            <button class="btn btn-default btn-publish" ng-click="togglePublished()" ng-if="query.is_draft && query.id != undefined && (isQueryOwner || currentUser.hasPermission('admin'))">
              <span class="fa fa-paper-plane-o"></span> 发布
            </button>

            <span ng-show="query.id && canViewSource">
              <a ng-show="!sourceMode" ng-href="{{query.getUrl(true, selectedTab)}}" class="btn btn-default btn--showhide">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 编辑SQL</i>
              </a>
              <a ng-show="sourceMode" ng-href="{{query.getUrl(false, selectedTab)}}" class="btn btn-default btn--showhide">
                <i class="fa fa-table" aria-hidden="true"></i> 仅显示数据</i>
              </a>
            </span>

            <div ng-if="query.id != undefined" class="btn-group query-actions-menu" role="group" uib-dropdown>
              <button class="btn btn-default dropdown-toggle hidden-xs" uib-dropdown-toggle>
                <span class="zmdi zmdi-more"></span>
              </button>
              <ul class="dropdown-menu pull-right" uib-dropdown-menu>
                <li ng-class="{'disabled': query.id === undefined || !canForkQuery() }">
                  <a ng-click="duplicateQuery()"><i class="fa fa-code-fork"></i> 克隆</a>
                </li>
                <li class="divider" ng-if="query.is_archived"></li>
                <li ng-if="!query.is_archived && query.id != undefined && (isQueryOwner || currentUser.hasPermission('admin'))">
                  <a ng-click="archiveQuery()"><i class="fa fa-bookmark-o"></i>归档</a>
                </li>
                <li ng-if="!query.is_archived && query.id != undefined && (isQueryOwner || currentUser.hasPermission('admin')) && showPermissionsControl">
                  <a ng-click="showManagePermissionsModal()">权限管理</a>
                </li>
                <li ng-if="!query.is_draft && query.id != undefined && (isQueryOwner || currentUser.hasPermission('admin'))">
                  <a ng-click="togglePublished()">取消发布</a>
                </li>
                <li class="divider" ng-if="!query.is_archived"></li>
                <li ng-if="query.id != undefined">
                  <a ng-click="showApiKey()">显示API Key</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <query-tags-control
          class="query-tags__mobile" ng-class="{'query-tags__empty': query.tags.length == 0}"
          tags="query.tags" is-draft="query.is_draft" is-archived="query.is_archived"
          can-edit="isQueryOwner" get-available-tags="loadTags" on-edit="saveTags"></query-tags-control>
      </div>
    </div>
  </div>
  <main class="query-fullscreen">
    <nav resizable r-directions="['right']" r-flex="true" resizable-toggle toggle-shortcut="Alt+Shift+D, Alt+D">
      <div class="editor__left__data-source">
        <ui-select ng-model="query.data_source_id" remove-selected="false" ng-disabled="!isQueryOwner || !sourceMode"
          on-select="updateDataSource()" data-test="SelectDataSource">
          <ui-select-match placeholder="选择数据连接..." class="align-items-center">
            <img ng-src="/static/images/db-logos/{{$select.selected.type}}.png" width="20" height="20" style="vertical-align: top">
            {{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices repeat="ds.id as ds in dataSources | filter:$select.search">
            <img ng-src="/static/images/db-logos/{{ds.type}}.png" width="20" height="20" class="m-r-5">{{ds.name}}
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="editor__left__schema" ng-if="sourceMode">
        <schema-browser class="schema-container" schema="schema" on-refresh="refreshSchema()"></schema-browser>
      </div>
      <div ng-if="!sourceMode" style="flex-grow: 1;">&nbsp;</div>

      <div class="query-metadata query-metadata--description" ng-if="!query.isNew()">
        <edit-in-place is-editable="canEdit" on-done="saveDescription" editor="'textarea'" placeholder="'添加监控'" ignore-blanks='false'
          value="query.description" markdown="true">
        </edit-in-place>
      </div>

      <div class="query-metadata query-metadata--history" ng-if="!query.isNew()">
        <table>
          <tr>
            <td>
              <img ng-src="{{ query.user.profile_image_url }}" class="profile__image_thumb" />
              <strong class="meta__name" ng-class="{'text-muted': query.user.is_disabled}">{{query.user.name}}</strong>
            </td>
            <td class="text-right">
              创建于
              <strong>
                <rd-time-ago value="query.created_at"></rd-time-ago>
              </strong>
            </td>
          </tr>
          <tr>
            <td>
              <img ng-src="{{ query.last_modified_by.profile_image_url }}" class="profile__image_thumb" />
              <strong class="meta__name" ng-class="{'text-muted': query.last_modified_by.is_disabled}">{{query.last_modified_by.name}}</strong>
            </td>
            <td class="text-right">
              更新于
              <strong>
                <rd-time-ago value="query.updated_at"></rd-time-ago>
              </strong>
            </td>
          </tr>
          <tr>
            <td class="p-t-15">
              <span class="query-metadata__property">
                <span class="zmdi zmdi-refresh"></span>刷新频率</span>
            </td>
            <td class="p-t-15 text-right">
              <schedule-phrase ng-click="editSchedule()" is-link="true" schedule="query.schedule" is-new="query.isNew()" />
            </td>
          </tr>
        </table>
      </div>
    </nav>

    <div class="content">
      <div class="flex-fill p-relative">
        <div class="p-absolute d-flex flex-column p-l-15 p-r-15" style="left: 0; top: 0; right: 0; bottom: 0; overflow: auto">
          <div class="row editor" resizable r-directions="['bottom']" r-flex="true" resizable-toggle
               style="min-height: 11px; max-height: 70vh;" ng-if="sourceMode">
            <query-editor
              style="width: 100%; height: 100%;"
              query-text="query.query"
              schema="schema"
              syntax="dataSource.syntax"
              can-edit="canEdit"
              is-dirty="isDirty"
              is-query-owner="isQueryOwner"
              update-data-source="updateDataSource"
              execute-query="executeQuery"
              query-executing="queryExecuting"
              can-execute-query="canExecuteQuery()"
              listen-for-resize="listenForResize"
              listen-for-editor-command="listenForEditorCommand"
              save-query="saveQuery"
              update-query="updateQuery"
              update-selected-query="updateSelectedQuery"
              add-new-parameter="addNewParameter"
              data-data-source="dataSource"
              data-data-sources="dataSources"></query-editor>
          </div>

          <div class="row query-metadata__mobile">
            <img ng-src="{{ query.user.profile_image_url }}" class="profile__image_thumb">
            <div class="flex-fill m-r-10">
              <strong class="meta__name" ng-class="{'text-muted': query.user.is_disabled}">{{query.user.name}}</strong>
              created <rd-time-ago value="query.created_at"></rd-time-ago>
            </div>

            <img ng-src="{{ query.last_modified_by.profile_image_url }}" class="profile__image_thumb">
            <div class="flex-fill m-r-10">
              <strong class="meta__name" ng-class="{'text-muted': query.last_modified_by.is_disabled}">{{query.last_modified_by.name}}</strong>
              updated <rd-time-ago value="query.updated_at"></rd-time-ago>
            </div>

            <div>
              <span class="query-metadata__property">刷新频率：</span>
              <schedule-phrase ng-click="editSchedule()" is-link="true" schedule="query.schedule" is-new="query.isNew()" />
            </div>
          </div>

          <section class="flex-fill p-relative t-body query-visualizations-wrapper">
            <div class="d-flex flex-column p-b-15 p-absolute static-position__mobile" style="left: 0; top: 0; right: 0; bottom: 0;">
              <div class="p-t-15 p-b-5" ng-if="query.hasParameters()">
                <parameters parameters="query.getParametersDefs()" editable="sourceMode && canEdit" disable-url-update="query.isNew()"
                  on-values-change="executeQuery" on-pending-values-change="applyParametersChanges" on-parameters-edit="onParametersUpdated"></parameters>
              </div>
              <!-- Query Execution Status -->

              <div class="query-alerts">
                <div class="alert alert-info m-t-15" ng-if="queryResult.getStatus() == 'processing'">
                  正在运行中，请稍等...
                  <rd-timer from="queryResult.getUpdatedAt()"></rd-timer>
                  <button type="button" class="btn btn-warning btn-xs pull-right" ng-disabled="cancelling" ng-click="cancelExecution()">取消
                  </button>
                </div>
                <div class="alert alert-info m-t-15" ng-if="queryResult.getStatus() == 'loading-result'">
                  正在载入中，请稍等...
                  <rd-timer from="queryResult.getUpdatedAt()"></rd-timer>
                </div>
                <div class="alert alert-info m-t-15" ng-if="queryResult.getStatus() == 'waiting'">
                  正在排队中，请稍等...
                  <rd-timer from="queryResult.getUpdatedAt()"></rd-timer>
                  <button type="button" class="btn btn-warning btn-xs pull-right" ng-disabled="cancelling" ng-click="cancelExecution()">取消
                  </button>
                </div>
                <div class="alert alert-danger m-t-15" ng-if="queryResult.getError()">
                  运行指标时出错:
                  <strong>{{queryResult.getError()}}</strong>
                </div>
              </div>
              <!-- End of Query Execution Status -->

              <!-- tabs and data -->
              <div ng-if="showDataset" class="flex-fill p-relative">
                <div class="d-flex flex-column p-absolute static-position__mobile" style="left: 0; top: 0; right: 0; bottom: 0;">
                  <div class="p-10" ng-show="showLog">
                    <p>日志信息：</p>
                    <p class="query-log-line" ng-repeat="l in queryResult.getLog() track by $index">{{l}}</p>
                  </div>
                  <ul class="tab-nav" data-test="QueryPageVisualizationTabs">
                    <rd-tab ng-if="!query.visualizations.length" tab-id="table" name="Table" base-path="query.getUrl(sourceMode)"></rd-tab>
                    <rd-tab ng-repeat="vis in query.visualizations | orderBy:'id'" tab-id="{{vis.id}}" name="{{vis.name}}" base-path="query.getUrl(sourceMode)">
                      <span class="remove hidden-xs" ng-click="deleteVisualization($event, vis)" ng-if="canEdit && !($first && (vis.type === 'TABLE'))">
                        <i class="zmdi zmdi-close"></i>
                      </span>
                    </rd-tab>
                    <li class="rd-tab tab-new-vis">
                      <a ng-click="openVisualizationEditor()" class="btn btn-default" ng-if="canEdit" data-test="NewVisualization">
                        <i class="zmdi zmdi-plus"></i> 添加可视化</a>
                    </li>
                  </ul>
                  <div ng-if="selectedVisualization && queryResult" class="query__vis m-t-15 p-b-15 scrollbox" data-test="QueryPageVisualization{{ selectedVisualization.id }}">
                    <visualization-renderer visualization="selectedVisualization" query-result="queryResult" context="'query'"></visualization-renderer>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="bottom-controller-container" ng-if="showDataset">
        <div class="bottom-controller">
          <edit-visualization-button
            ng-if="!query.isNew() && canEdit"
            open-visualization-editor="openVisualizationEditor"
            selected-tab="selectedTab">
          </edit-visualization-button>

          <query-control-dropdown
            query="query"
            query-result="queryResult"
            query-executing="queryExecuting"
            show-embed-dialog="showEmbedDialog"
            embed="embed"
            apiKey="apiKey"
            selected-tab="selectedTab"
            open-add-to-dashboard-form="openAddToDashboardForm">
          </query-control-dropdown>

          <span class="query-metadata__bottom" ng-if="queryResult.getData()">
            <span class="query-metadata__property">
              <strong>{{queryResult.getData().length}}</strong>
              <ng-pluralize count="queryResult.getData().length" when="{'0': ' rows', 'one': ' row', 'other': ' rows'}"></ng-pluralize>
            </span>
            <span class="query-metadata__property">
              <strong ng-show="!queryExecuting">{{queryResult.getRuntime() | durationHumanize}}</strong>
              <span ng-show="queryExecuting">Running&hellip;</span>
              <span class="hidden-xs">runtime</span>
            </span>
            <span class="query-metadata__property" ng-if="queryResult.query_result.data.metadata.data_scanned">扫描数据
              <strong>{{ queryResult.query_result.data.metadata.data_scanned | prettySize}}</strong>
            </span>
          </span>

          <div>
            <span class="query-metadata__property hidden-xs">
              <span class="hidden-xs">更新于</span>
              <rd-time-ago value="queryResult.query_result.retrieved_at"></rd-time-ago>
            </span>

            <button
              ng-if="!sourceMode"
              ng-disabled="queryExecuting || !canExecuteQuery()"
              class="m-l-5 btn btn-primary"
              title="刷新结果"
              ng-click="executeQuery()"
              data-test="ExecuteButton"
            >
              <span class="zmdi zmdi-play"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
